/*GENERAL*/
h4 {
	vertical-align: top;
	text-align: right;
	padding-right: 10%;
}
/*HEADER*/
.navbar .navbar-nav {
  	display: inline-block;
  	float: none;
  	vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-header a {
	margin: 10px;
}

@media (max-width:500px) {
	.jumbotron {
		background-image: url(../images/jumbotron_780.jpg);
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0px;
		padding:0px;
		border: 0px;
	}
	#about-section p {
		padding-left: 15%;
	}	
}
@media (min-width: 501px) {
	.jumbotron {
		background-image: url(../images/jumbotron_1500.jpg);
		height: 600px;
		margin: 0px;
		padding:0px;
		border:0px;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
/*ABOUT SECTION*/
#about-section {
	padding: 30px 0px;
	border: 0px;
}
#about-section div {
	display: inline-block;
}
#about-section a {
 	text-align: center;
	line-height: 50px;
 }
/*SKILL SECTION*/
#ph, #pl, #l, #Prs, #Pes {
	display: none;
}
/*RESUME SECTION*/
#resume-section {
	padding-top: 50px;
}

