/*HEADER*/
.headernav {
	background-color: black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #ffffff;
}
.navbar {
	border:0px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 15px;
}
 #nav-list a span {
 	margin-bottom: 10px;
 	font-size: 1.5em;
 }
 /*ABOUT SECTION*/
 #about-section {
 	background-color: black;
 }
  #about-section h4 {
 	color: grey;
 	text-transform: uppercase;
 	font-weight: bold;
 }
  #about-section p {
 	color: white;
 	line-height: 1.7;
 }
  #about-section img {
 	margin-right: 10px;
 }
  #about-section a {
 	text-decoration: none;
 	color: white;
 }
  #about-section a:hover {
 	text-decoration: none;
 	color: grey;
 }
 /*SKILL SECTION*/
 #skills-list {
	background-color: #cccccc;
}
#skills-list a {
	color: #595959;
}
#skills-list a:hover {
	color: white;
}
/*CONTACT SECTION*/
#contact-section div {
  background-color: black;
}
.contact-footer {
  color: white;
  text-align: right;
  padding: 40px 0px;
}
#contact-section a {
	text-decoration: none;
	color: white;
}