#resume-section h4 {
	font-weight: bold;
	font-size: 1.2em;
}
.title-table {
	vertical-align: top;
	text-transform: uppercase;
	text-align:right;
}
.subtitle-resume {
	text-align: left;
	color: #df4244;
}
.subtitle2-resume {
	font-style: italic;
}
#resume-section td {
	padding-bottom: 10px;
}
.date-table {
	padding-left: 10%;
	vertical-align: top;
} 
/*WHY ME*/
#why-me {
	border:0px;
	margin:40px 0px;
}
#why-me td, th {
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: top;
}
#why-me td {
	padding-bottom: 20px;
	color: grey;
}
#why-me td:hover {
	color: white;
}
#why-me th {
	padding-top: 20px;
}
#why-me tr {
	color: white;
	background-color: black;
}

@media (max-width:500px) {
	#why-me td, #why-me th {
		font-size: 2.8vw;
	}
	#resume-section h4 {
		font-size: 3.5vw;
	}
	.date-table, .subtitle2-resume, #resume-section p {
		font-size: 2.8vw;
	}
	#why-title {
		display: inline-block;
		float:left;
		padding-left: 12%;
	}
	#why-me {
		display: inline-block;
		margin: 0px 25px;
	}
}
@media (min-width:501px) and (max-width:1200px){
	#why-title {
		display: inline-block;
		float:left;
		padding-left: 60px;
	}
	#why-me {
		display: inline-block;
	}
}

